* {
    font-family: Menlo, monospace;
    font-size: 11px;
}
.toolbar {
    width: 100%;
    padding: 16px;
}
html,
body {
    height: 100%;
    margin: 0;
}
.main-container {
    height: 100%;
}
#component-inspector {
    float: left;
    display: inline-block;
    width: 30%;
    padding: 16px;
}
#components-tree {
    float: left;
    display: inline-block;
    width: 60%;
    border-right: 1px solid lightgray;
    padding: 16px;
}
#widget {
    position: fixed;
    width: 30%;
}
.children.collapsed {
    display: none;
}
.node-container {
    margin: 8px;
}
.node-value {
    font-size: 10px;
    color: rgb(20, 0, 148)
}
.node-label {
    font-size: 10px;
    color: rgb(164, 100, 45);
    margin-left: 2px;
}
.node-title {
    font-family: Menlo, monospace;
    font-size: 11px;
    color: rgb(110, 0, 110);
    background: rgb(241, 241, 241);
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}
.node-title:hover {
    background: rgb(201, 201, 201);
}
.node-title.selected {
    background-color: rgb(41, 94, 212);
    color: white;
}
.node-arrow {
    font-family: Menlo, monospace;
    font-size: 11px;
    color: gray;
    cursor: pointer;
}
.node-arrow:before {
    content: "▶ ";
}
.node-arrow.collapsed:before {
    content: "▼ ";
}
.inspector-value {
    font-size: 10px;
    color: rgb(26, 92, 24);
}
.inspector-label {
    font-size: 10px;
    margin-left: 8px;
    color: rgb(188, 0, 0);
}